/* For global sizing use BOX-SIZING value from content-box to border-box
   This ensures padding doesn't affact the final computed width. */

.container-1, .container-2, .container-3, .container-4, .container-5{
    border:1px solid black;
    width:75%;
    margin: 0 auto;
    text-align: center;
    
}



.container-2, .flex-box-pick-color, .flex-blackjack-row-1, .flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    border:1px solid purple;
    /*center*/
    padding: 10px;
    /*put h2 text in the center*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
   background: url('Images/greenbackground.jpg') center;
   color: #fff;
   background-size: 800px;

}
.flex-blackjack-row-1 div{
  
   border: 1px solid yellow;
   /*give yourself equal importants*/
   flex:4;
   padding:10px;
   height: 350px;
   text-align: center ;
}
.container-1 div {
   display:flex;
   border:1px solid black;
   padding: 100px;
   align-items: center;
   
}
.flex-box-container-2 img { 
   width: 25%;

}

.flex-blackjack-row-2 button{
   margin-left: 10px;
}

.container  {
   text-align: center;
}
.rpsChoices img:hover{
   box-shadow: 0px 10px 50px rgba(37, 50, 233,1);

}
.flex-box-3 img:hover{
    
   box-shadow: 0px 10px 50px rgba(37, 50, 233,1);
 
 }

/* Need a border */
 table th{
   padding: 5px;
   border: 1px solid black;
 
}
table td{
   border: 1px solid black;
   text-align: center;
}